body {
    background-image: url("/images/windows.jpg");
    background-attachment: fixed;
    background-size: cover;
    overscroll-behavior: none;
    min-width: 270px;
}

/*TOP & SIDE BAR CODE START*/

div#barbackground {
    float: right; 
    background-color: beige;
    top: 0px;
    right: 8px;
    width: 140px;
    height: 100%;
    position: fixed;
    border-left: 5px solid black;
    border-right: 5px solid black;
    padding-bottom: 15px;
    z-index: 0;
    position: fixed;
}

div#topbar {
    background-color: beige;
    border: 5px solid black;
    margin-right: 158px;
    margin-bottom: 5px;
    border-radius: 25px;
}

div#topbar h1 {
    color: black;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    opacity: 1;
}

div#topbar p {
    color: black;
    opacity: 1;
    font-size: 20px;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

div#content article h2 {
    border-bottom: 2px solid black;
    width: 50%;
    float: left;
}

div#content article h3 {
    border-bottom: 2px solid black;
    width: 50%;
    float: left;
    padding-bottom: 6px;
    text-align: right;
}

div#content article div#articlehead {
    display: block;
    justify-content: space-evenly;
}

div#sidebar {
    float: right; 
    top: 8px;
    width: 140px;
    position: sticky;
    border-right: 5px solid black;
    padding-bottom: 15px;
    z-index: 1;
    opacity: 1;
}

div#sidebar li {
    position: sticky;
    list-style: none;
    margin: 5px 0px 5px -18px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    text-align: center;
    float: left;
    width: 90%;
    opacity: 1;
    transition: 0.5s;
}

div#sidebar li:hover {
    background-color: #ffffff;
    box-shadow: 3px 3px;
    width: 90%;
    opacity: 1;
}

/*TOP & SIDE BAR CODE END*/

div#content {
opacity: 0.95;
margin-right: 158px;
}

div#content article {
    background-color: beige;
    border: 5px solid black;
    padding: 5px;
    border-radius: 25px;
    margin-bottom: 6px;
}

.margin5 {
    margin-bottom: 5px;
}

#content p {
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 1;
}

.spinning {
    position: relative;
    animation: catch 2s infinite;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
}

.split {
    background-color: beige; 
    max-width: 49.25%;
    border: 5px solid black; 
    width: 50%;
    border-radius: 25px;
}

.right {
    margin-right: 3px;
}

.left {
    margin-left: 3px;
}

@keyframes catch {
  0% {transform: rotate(17deg);}
  50% {transform: rotate(-17deg)}
  100% {transform: rotate(17deg)}
}